/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/01/2019, 11:36:14
    Author     : Erickson Zanon
*/

/* Paleta de cores */
$preto : #343a40;
$branco : #fcfcfc;
$cinza : #dddddd;
$color1 : #ed8838; // laranja vivo
$color2 : #734719; // laranja escuro
$color3 : #50564a; // verde escuro
$color4 : #61675b; // verde medio
$color5 : #7c8574; // verde claro

.color2 {
    background-color: $color2;
}
.color3 {
    background-color: $color3;
}
.color5 {
    background-color: $color5;
}

/* Tipografia */
@mixin textDarkBack {
    color: $branco;
}
/* Background escuro */
@mixin darkBack {
    background: $color5;
}
/* Cabecalho Home */
#cabecalhoHome {
    @include darkBack;
    @include textDarkBack;
    padding-left: 0;
    padding-right: 0;
}
#oLogotipo {
    max-height: 80px;
}
#botaoBusca {
    color: $branco;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
}
/* Navegação principal */
#mainNavbar {
    font-size: 1.2rem;
}
#mainNavbar a {
    color: $branco;
}
#mainNavbar a.dropdown-item {
    color: $preto;
}
#mainNavbar a:hover {
    color: $color1;
}
/* Estrutura */
body {
    background: $color5;
}
/*! Banner */
#bannerRow {
    margin: 0 0 10px 0;
    text-align: center;
    background: $branco;
}
/* Cards */
#cardsContainer {
    padding: 10px 20px 0 20px;
}
#cardsContainer .card {
    margin: 0 0 10px 0;
    padding: 5px;
}
/* Rodape */
#rodapeRow {
    @include darkBack;
    @include textDarkBack;
    padding: 10px; 
}
#bannerRow .col-12 {
    padding: 0;
}
/* Bootstrap */
.row {
    margin-bottom: 10px;
}




