/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/01/2019, 11:36:14
    Author     : Erickson Zanon
*/

/* Paleta de cores */
$preto : #343a40;
$branco : #fcfcfc;
$cinza : #dddddd;
$color1 : #ed8838; // laranja vivo
$color2 : #734719; // laranja escuro
$color3 : #50564a; // verde escuro
$color4 : #61675b; // verde medio
$color5 : #7c8574; // verde claro

.color1 {
    background-color: $color1;
}
.color2 {
    background-color: $color2;
}
.color3 {
    background-color: $color3;
    color: $branco;
}
.color4 {
    background-color: $color4;
}
.color5 {
    background-color: $color5;
}

/* Tipografia */
@mixin textDarkBack {
    color: $branco;
    background: $color5;
}
/* Background escuro */
@mixin darkBack {
    background: $color5;
}
/* Cabecalho Home */
#cabecalhoHome {
    color: $branco;
    background-color: $branco;
    padding-left: 0;
    padding-right: 0;
}
#oLogotipo {
    max-height: 110px;
}
#botaoBusca {
    color: $branco;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
}
/* Navegação principal */
#mainNavbar {
    font-size: 1rem;
}
#mainNavbar a {
    color: $branco;
}
#mainNavbar a.dropdown-item {
    color: $preto;
}
#mainNavbar a:hover {
    color: $color1;
}
/* Menu superior */
#menuSuperior {
    background-color: $color3;
    min-height: 3rem;
}
/* Menu Idiomas */
#menuIdiomas {
    font-size: 0.8rem;
    float: right;
}
#menuIdiomas a {
    color: $branco;
}
#menuIdiomas a.dropdown-item {
    color: $preto;
}
#menuIdiomas a:hover {
    color: $color1;
}
/* Menu Social */
#menuSocial {
    font-size: 0.8rem;
    float: left;
}
#menuSocial a {
    color: $branco;
}
#menuSocial a.dropdown-item {
    color: $preto;
}
#menuSocial a:hover {
    color: $color1;
}
/* Estrutura */
body {
    background: $color5;
}
/*! Banner */
#bannerRow {
    margin: 0 0 10px 0;
    text-align: center;
    background: $branco;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}
#bannerRow img {
    height: 300px;
}
/* Cards */
#cardsContainer {
    padding: 10px 20px 0 20px;
}
#cardsContainer .card {
    margin: 0 0 10px 0;
    padding: 0px;
    background-color: $branco;
    border: 5px;
    border-color: $color5;
    border-style: solid;
    border-radius: 0.5rem;
}
/* Rodape */
#rodapeRow {
    color: $branco;
    background-color: $color3;
    padding: 10px; 
}
/* Bootstrap */
.row {
    margin-bottom: 10px;
}




